@charset "UTF-8";
@function dd($num){
	@return $num/20;
}
html,body{
	/*height:dd(2640rem);*/
	width:100%;
	position:relative;
}
*{
	margin:0;
	padding:0;
}
/*#header{
	height:dd(44rem);
	width:100%;
	line-height:dd(44rem);
	background-color:#d94c5a;
	position:fixed;
	img{
		width:100%;
		height:dd(20rem);
		margin:dd(12rem) 0;	
	}

}*/
.nav{
	width:100%;
	height:dd(460rem);
	img{
		width:100%;
		height:dd(460rem);
		width:100%;
		position:absolute;
		top:0;
		left:0;
	}
	.dots{
		height:dd(40rem);
		width:20%;
		position:absolute;
		top:dd(420rem);
		left:40%;
		.dot{
			height:dd(8rem);
			width:dd(8rem);
			border:dd(1rem) solid #fff;
			background-color:#fff;
			float:left;
			border-radius:50%;
			margin:dd(15rem) 12%;
		}
	}
}
.search{
	width:90%;
	height:dd(80rem);
	position:absolute;
	top:dd(60rem);
	left:4%;
	border-radius:dd(40rem);
	.zuo{
		width:78%;
		float:left;
		height:dd(80rem);
		background: rgba(255,255,255,0.7);
		border-radius:dd(40rem);
		img{
			width:dd(40rem);
			height:dd(40rem);
			margin:dd(20rem) dd(10rem) dd(20rem) 25%;
			float:left;
		}
		input{
				height:dd(40rem);
				width:dd(230rem);
				margin:dd(20rem) 0;
				border:none;
				outline:none;
				background: rgba(255,255,255,0);
				font-size:dd(25rem);
				color:#84888c;
			}
	}
	.you{
		width:dd(80rem);
		height:dd(80rem);
		border-radius:dd(40rem);
		background-color: rgba(255,255,255,0.7);
		float:right;
		img{
			width:dd(50rem);
			height:dd(50rem);
			margin:dd(15rem);
		}
	}
}
.xz{
	width:100%;
	div{
		width:25%;
		height:dd(180rem);
		margin-top:dd(10rem);
		float:left;
		div{
			width:100%;
			height:dd(130rem);
			text-align:center;	
			img{
				width:dd(100rem);
				height:dd(100rem);
			}
		}
		p{
			width:100%;
			height:dd(30rem);
			text-align:center;
		}
	}
}
.ge{
	width:100%;
	img{
		width:100%;
	}
}
.mm{
	width:100%;
	background-color:#fff;
	.top{
		width:100%;
		height:dd(80rem);
		border-bottom:dd(1rem) solid #ccc;
		text-align:center;
		line-height:dd(80rem);
		font-size:dd(30rem);
	}
	.left{
		width:50%;
		height:dd(320rem);
		float:left;
		border-bottom:dd(1rem) solid #ccc;
		border-right:dd(1rem) solid #ccc;
		padding-top:dd(20rem);
		img{
			width:dd(240rem);
			height:dd(240rem);
			float:right;
		}
		p{
			height:dd(30rem);
			font-size:dd(20rem);
			margin-left:dd(20rem);
			color:#f9ce33;
		}
		span{
			color:#666666;
			font-size:dd(20rem);
			margin-left:dd(20rem);
		}
	}
	.right{
		width:50%;
		height:dd(320rem);
		border-bottom:dd(1rem) solid #ccc;
		margin-left:50%;
		padding-top:dd(20rem);
		.right-top{
			width:100%;
			height:dd(160rem);
			border-bottom:dd(1rem) solid #ccc;
			img{
				width:dd(90rem);
				height:dd(90rem);
				float:right;
			}
			p{
				height:dd(30rem);
				font-size:dd(30rem);
				margin-left:dd(20rem);
				color:#ea5e7f;
			}
			.sp{
				color:#666666;
				font-size:dd(20rem);
				margin-left:dd(20rem);
				margin-top:dd(5rem);
			}
		}
		.right-bottom{
			width:100%;
			height:dd(160rem);
			img{
				width:dd(90rem);
				height:dd(90rem);
				float:right;
			}
			p{
				height:dd(30rem);
				font-size:dd(30rem);
				margin-left:dd(20rem);
				color:#66c92a;
			}
			.sp{
				color:#666666;
				font-size:dd(20rem);
				margin-left:dd(20rem);
				margin-top:dd(5rem);
			}	
		}	
	}		
}
.shop{
	width:100%;
	background-color:#fff;
	.top{
		width:100%;
		height:dd(80rem);
		border-bottom:dd(1rem) solid #ccc;
		text-align:center;
		line-height:dd(80rem);
		font-size:dd(30rem);
	}
	.shoper{
		background-color:red;
		.shop1{
			width:49%;
			/*height:dd(540rem);*/
			float:left;
			border-right:dd(1rem) solid #ccc;
			border-bottom:dd(1rem) solid #ccc;
			.pic{
				width:100%;
				/*height:dd(400rem);*/
				border-bottom:dd(1rem) solid #ccc;
				img{
					width:100%;
					/*height:dd(400rem);*/
				}
			}
			.dc{
				width:100%;
				height:dd(135rem);
				p{
					line-height:dd(30rem);
					margin-top:dd(10rem);
					font-size:dd(25rem);
					color:#ccc;
				}
				img{
					width:dd(50rem);
					height:dd(50rem);
					float:right;
					margin:dd(10rem);
				}
				span{
					height:dd(70rem);
					line-height:dd(70rem);
					font-size:dd(30rem);
					color:#ff3456;
				}
			}
		}
		.shop2{
			width:49%;
			border-bottom:dd(1rem) solid #ccc;
			/*height:dd(540rem);*/
			float:right;
			.pic{
				width:100%;
				/*height:dd(400rem);*/
				border-bottom:dd(1rem) solid #ccc;
				img{
					width:100%;
					/*height:100%;*/
				}
			}
			.dc{
				width:100%;
				height:dd(135rem);
				p{
					line-height:dd(30rem);
					margin-top:dd(10rem);
					font-size:dd(25rem);
					color:#ccc;
				}
				img{
					width:dd(50rem);
					height:dd(50rem);
					float:right;
					margin:dd(10rem);
				}
				span{
					height:dd(70rem);
					line-height:dd(70rem);
					font-size:dd(30rem);
					color:#ff3456;
				}
			}
		}
		.shop3{
			width:49%;
			/*height:dd(540rem);*/
			float:left;
			border-right:dd(1rem) solid #ccc;
			border-bottom:dd(1rem) solid #ccc;
			.pic{
				width:100%;
				/*height:dd(400rem);*/
				border-bottom:dd(1rem) solid #ccc;
				img{
					width:100%;
					/*height:100%;*/
				}
			}
			.dc{
				width:100%;
				height:dd(135rem);
				p{
					line-height:dd(30rem);
					margin-top:dd(10rem);
					font-size:dd(25rem);
					color:#ccc;
				}
				img{
					width:dd(50rem);
					height:dd(50rem);
					float:right;
					margin:dd(10rem);
				}
				span{
					height:dd(70rem);
					line-height:dd(70rem);
					font-size:dd(30rem);
					color:#ff3456;
				}
			}
		}
		.shop4{
			width:49%;
			border-bottom:dd(1rem) solid #ccc;
			/*height:dd(540rem);*/
			float:right;
			.pic{
				width:100%;
				/*height:dd(400rem);*/
				border-bottom:dd(1rem) solid #ccc;
				img{
					width:100%;
					/*height:100%;*/
				}
			}
			.dc{
				width:100%;
				height:dd(135rem);
				p{
					line-height:dd(30rem);
					margin-top:dd(10rem);
					font-size:dd(25rem);
					color:#ccc;
				}
				img{
					width:dd(50rem);
					height:dd(50rem);
					float:right;
					margin:dd(10rem);
				}
				span{
					height:dd(70rem);
					line-height:dd(70rem);
					font-size:dd(30rem);
					color:#ff3456;
				}
			}
		}
	}	
}
#footer{
	width:100%;
	height:dd(92rem);
	div{
		width:25%;
		height:dd(92rem);
		text-align:center;
		float:left;
		img{
			width:dd(45rem);
			margin:dd(5rem) 0 ;
		}
		p{
			font-size:dd(20rem);
			color:#989898;
			margin-top:dd(5rem);
		}
	}
}

